Repository takashi0602/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run check:eslint, npm run check:prettier

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "npm run check:eslint",
  "*.{js,jsx,ts,tsx,json,html,css,yml,yaml}": "npm run check:prettier"
}

chore: add description and author
  package.json
Due: npm run check:prettier

chore: add license
  LICENSE
  package.json
Due: npm run check:prettier

refactor: move globals.css file
  src/app/layout.tsx
  src/app/styles/globals.css
Due: npm run check:eslint, npm run check:prettier

feat: add fonts
  src/app/layout.tsx
Due: npm run check:eslint, npm run check:prettier

refactor: modify metadata
  src/app/layout.tsx
Due: npm run check:eslint, npm run check:prettier

feat: create reset.css
  src/app/layout.tsx
  src/app/styles/reset.css
Due: npm run check:eslint, npm run check:prettier

fix: fix font settings
  src/app/layout.tsx
Due: npm run check:eslint, npm run check:prettier

fix: fix margin value
  src/app/styles/reset.css
Due: npm run check:prettier

feat: remove unwanted styles and add new styles
  src/app/styles/globals.css
Due: npm run check:prettier

feat: replace favicon
  src/app/favicon.ico
Due: none

feat: add icon.png
  public/icon.png
  public/next.svg
  public/vercel.svg
Due: none

feat: create page
  src/app/page.module.css
  src/app/page.tsx
Due: npm run check:eslint, npm run check:prettier

feat: add variables and styles
  src/app/styles/globals.css
Due: npm run check:prettier

feat: create ListItem component
  src/components/ListItem/index.tsx
  src/components/ListItem/styles.module.css
Due: npm run check:eslint, npm run check:prettier

feat: add profile section
  src/app/page.tsx
Due: npm run check:eslint, npm run check:prettier

feat: add career section
  src/app/page.tsx
Due: npm run check:eslint, npm run check:prettier

fix: fix ListItem props type
  src/app/page.tsx
  src/components/ListItem/index.tsx
Due: npm run check:eslint, npm run check:prettier

fix: fix anker style
  src/app/styles/globals.css
  src/app/styles/reset.css
Due: npm run check:prettier

feat: add link section
  src/app/page.tsx
Due: npm run check:eslint, npm run check:prettier

fix: fix styles
  src/app/page.module.css
  src/components/ListItem/index.tsx
  src/components/ListItem/styles.module.css
Due: npm run check:eslint, npm run check:prettier

refactor: modify name
  package.json
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
Due: npm run check:eslint, npm run check:prettier

refactor: modify README.md
  README.md
Due: none

feat: add scripts
  README.md
Due: none

1.0.0
  package-lock.json
  package.json
Due: npm run check:prettier

chore: .node-versionを追加
  .node-version
Due: none

chore: 各パッケージのバージョンを更新
  package-lock.json
  package.json
Due: npm run check:prettier

chore: eslint v9への対応
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run check:prettier

chore: @cloudflare/next-on-pagesの導入
  package-lock.json
  package.json
Due: npm run check:prettier

chore: wrangler.jsoncの作成
  wrangler.jsonc
Due: none

chore: next.config.jsの更新
  next.config.js
Due: npm run check:eslint, npm run check:prettier

feat: runtimeをedgeとして設定
  src/app/layout.tsx
  src/app/page.tsx
Due: npm run check:eslint, npm run check:prettier

ci: vercelのプレビュー表示を削除
  .github/workflows/preview.yaml
Due: npm run check:prettier
